<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="assets/css/layout.css">
	<title>conti</title>
</head>

<body>

	<header>
		<a href="./layout.html" id="logo">Logo</a>

		<button id="openMenu">&#9776;</button>

		<nav id="menu">

			<button id="closeMenu">X</button>

			<a href="#">Home</a>
			<a href="#">Noticias</a>
			<a href="#">Produtos</a>
			<a href="">Contato</a>
		</nav>
		
	</header>
	<aside>Aside

	</aside>
	<main>Main

	</main>
	<footer>Footer

	</footer>

	<!-- Importação do arquivo JavaScript. -->
	<script type="text/javascript" src="assets/js/script.js"></script>
</body>